numpy
scikit-learn
pandas
tensorflow
fastapi
uvicorn
ipykernel
kaggle
python-dotenv
python-box
pyYAML
tqdm
ensure
joblib
types-pyYAML
matplotlib
seaborn
python-multipart
pydantic
jinja2
aiofiles
dvc
mlflow